[submodule "sealdice-android"]
	path = sealdice-android
	url = https://github.com/sealdice/sealdice-android
	branch = master
[submodule "sealdice-builtins"]
	path = sealdice-builtins
	url = https://github.com/sealdice/sealdice-builtins
	branch = master
